/ComposeAgregatkaD1/build/*
/ComposeAgregatkaD1/gradle/*
/ComposeAgregatkaD1/.gradle/*
ComposeAgregatkaD1/.gradle/7.1/executionHistory/executionHistory.bin
ComposeAgregatkaD1/.gradle/7.1/executionHistory/executionHistory.lock
